<link rel="stylesheet" href="/tinybox/tiny_style.css" />
<script type="text/javascript" src="/tinybox/tinybox.js"></script>
<style>

<%1.upto(2) do |item|%>
.item-<%=item%> {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;
  
  }
<%end%>

.tutors .item figure img {
  width:100px;
    height:100px;

}

.tutors .item3 figure img {
  height:100px;
}

.tutors .item2 figure img {
  border-radius:200px;
  width:120px;
}


.animated .pull-left{
  margin-left: -15px;
}

.caption h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.caption p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

</style>
      <!-- ============================================================= SECTION – HERO ============================================================= -->

      





      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item item-1">
            <div class="container">
              <div class="caption vertical-center text-center ">
                
                <h1 class="fadeInLeft-1 light-color">1:1 English Tutoring</h1>
                <p class="fadeInLeft-2 light-color"></p>
                

                <div class="fadeInLeft-3">
                  <a href="/" class="btn btn-large">로그인</a>


             
                  <a href="#myModal" class="btn apply btn-large" data-option="0" data-toggle="modal" data-target="#myModal">체험 수업 신청</a>
                  
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item item-2" >
            <div class="container">
              <div class="caption vertical-center text-center">
                
                <h1 class="fadeInDown-1 light-color">carefully selected topic</h1>
                <p class="fadeInDown-2 light-color"></p>
                <div class="fadeInDown-3">
                  
                  <a href="/payments/pricing" class="btn btn-large">로그인</a>
                  
                  <a href="#myModal" class="btn apply btn-large" data-option="0" data-toggle="modal" data-target="#myModal">체험 수업 신청</a>


                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
        </div><!-- /.owl-carousel -->
      </section>
      

      <section id="ringle-intro">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
                <header>
                <h1>Ringle: 1석 3조를 만족시키는 Top Quality 영어회화 </h1>
                <h3 class="sidelines text-center"></h3>


              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="row inner-top-sm">
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-graduation-cap icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            
            <div class="col-md-3 inner-bottom-xs">
              <h1>Tutor</h1>
              <h2>미국 Top 10 대학(원)</h2>
              <p class="text-small">전원 하버드/스탠포드/예일 등 Top 10 대학(원)생들로 구성</p>
            </div><!-- /.col -->
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-chat-empty icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
              <h1>Topic</h1>
              <h2>실전 비즈니스</h2>
              <p class="text-small">최신 비즈니스/소셜 화두에 대한 토론 & 최적 표현으로의 영어 교정 진행</p>
            </div><!-- /.col -->

            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-laptop-1 icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

          
            <div class="col-md-3 inner-bottom-xs">
              <h1>Class</h1>
              <h2>생생한 화상 수업</h2>
              <p class="text-small">집/직장에서, 미국 현지에 있는 튜터와 40분간 1:1튜터링 진행</p>
            </div><!-- /.col -->
            
          


            
          </div><!-- /.row -->

        </div><!-- /.container -->
        
      </section>


      <section id="ringle-program" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
               <h1>링글의 1:1 프로그램</h1>
                <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-5">
            <p style="text-align: center; margin-bottom:20px; font-size:40px; line-height: 100%;">
            <strong> 고급 영어 회화</strong></p>

            </div>

            <div class="col-md-5">
      
            <p style="text-align: center; margin-bottom:20px; font-size:40px; line-height: 100%;">
            <strong>Under/Grad School Admission </strong></p>
            </div>
              <div class="col-md-1">
              </div>
          </div> <!--row -->
          <br><br>
          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-5">
              글로벌 비즈니스 리더들에게 맞는 세션<br>

              <p style="margin-left:40px">    
                <i class="icon-ok"></i>40분간 심도있는 1:1 Talk<br>
                <i class="icon-ok"></i>실시간 영어교정<br>
                <i class="icon-ok"></i>수업 후 고객님의 영어 개선을 위한 Feedback 보고서<br>
              </p>
            </div>
            <div class="col-md-5">
              학부대학, 석사, MBA,  박사 진학을 위한 영어세션<br>
              <p style="margin-left:40px">    
                <i class="icon-ok"></i>Undergrad Mock Interview<br>
                <i class="icon-ok"></i>Undergrad Essay First Impression<br>
                <i class="icon-ok"></i>Resume Session ( MBA, Grad )<br>
                <i class="icon-ok"></i>Interview Mock Session ( MBA,  Career )<br>
              </p>
            </div>

            <div class="col-md-1">

            </div>


          </div><!-- row -->

          <div class="row" style = "text-align: center;">


            <div class="col-md-1">     
            </div>
            <div class="col-md-5">
             
              

              <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/Ringle_%E1%84%89%E1%85%A9%E1%84%80%E1%85%A2%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD_vF.pdf" class="btn btn-large">Advanced English</a>


            </div>

            <div class="col-md-5">
              
              <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/Ringle_MBA+%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%AF%E1%86%AB+%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%80%E1%85%B3%E1%84%85%E1%85%A2%E1%86%B7+%E1%84%89%E1%85%A9%E1%84%80%E1%85%A2%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD_vF(Class+of+2018).pdf" class="btn btn-large">MBA/Grad</a>


              <a href="#" class="btn btn-large">College</a>


      
            </div>

            <div class="col-md-1">

            </div>


          </div><!-- row -->
        </div><!-- /.container -->
      </section>






      

      <!-- tutors -->
      <section id="tutors">
        <div class="container inner-top-sm inner-bottom-sm">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>링글의 튜터</h1>
                <h3 class="sidelines text-center"></h3>

                <p style="font-size:15px">
                  전원 미국 탑 대학에 재학/졸업한 세계 최고의 튜터링 파트너</br>
                  다양한 전공 (Pre-med, Econ, Physics, African study 등) 및 경험(Hedge Fund/Start-up/NGO 근무, 맥킨지입사예정등) 보유<br>
                  명문대 강의실에서 사용되는 격조 높은 영어로의 교정 진행<br>
                  영어Tutoring 경험 다수 보유 (중국 기관 에서 professional 영어 튜터링 경험, Stanford Public Speaking TA, Writing Center etc) <br>
                  공감 가능한 대화 & 인사이트 넘치는 의견 교류 가능</br>

                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          




          <div class="row inner-top-sm">
            <div class = "col-sm-1">

                <img src="/assets/images/tag_school_2.png" style="height:120px;">
            
           </div>

            <div class="col-sm-11">  

              <div id="owl-clients" class="owl-carousel owl-outer-nav tutors">
  
                  <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/harvard_logo.png">
                          <h4>Harvard University</h4>
                      
                    </figure>
                    
                  </div><!-- /.item -->



                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/yale_logo.png">
                                                <h4>Yale University</h4>

                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/stanford_logo.png" >
                                                <h4>Stanford University</h4>

                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/upen_logo.png" >
                                                <h4>University of pennsylvania</h4>

                    </figure>
                </div><!-- /.item -->

                 <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/dartmouth_logo.png" >
                                                <h4>Dartmouth College</h4>

                    </figure>
                </div><!-- /.item -->

                


              </div><!-- /.owl-carousel -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <br>          <br>


                <h3 class="sidelines text-center"></h3>


          <div class="row">
          
          <div class = "col-sm-1">

                <img src="/assets/images/tag_tutor_2.png" style="height:120px;">
            
           </div>



            <div class="col-sm-11">
              <header>

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Joey</strong>

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Economics Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Finance, #Consulting, #Energy, #Sports, #Music Talente</p>
                  </figure>
                </div><!-- /.col -->

               
                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Annie</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Premed Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Biology, #Technology, #Journalism, Modern Dance Talented</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Riley</strong> 
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Yale  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Politics Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Politics, #Government, #Social Enterprise, Sports</p>
                      
                  </figure>
                </div><!-- /.col -->

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Bianca</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Literacture Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Writing, #Culture, #Arts, Fashion, Music, Dance</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Nicole</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> University of Pennsylvania  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Russian Culture & History

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Legal, #Languages, #Nonprofit, #Arts, #Sports</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Tenzin</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford University  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Biology and Psychology

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Social Justice, #Biology, #Cultures, #Energy, #Music</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Elizabeth</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford University  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Economics Major

                      </p>
                  
                      <p style="font-style:italic; font-size:13px;">#HR, #Fashion, #Education, #Economics</p>
                      
                  </figure>
                </div><!-- /.col -->

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Haeun</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard University  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Applied Math Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Technology, #global/public health, #Consulting, #Music</p>
                      
                  </figure>
                </div><!-- /.col -->

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Shelly</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard University  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Economics Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Technology, #Non-profit, #Energy Startup, #Business</p>
                      
                  </figure>
                </div><!-- /.col -->

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Amber</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford University  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Architect Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Technology, #Non-profit, #Energy Startup, #Business</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Jacqueline</strong>
                      </p>
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford University  
                      </p>
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Public Policy Major
                      </p>
                      <p style="font-style:italic; font-size:13px;">#Public Policy, #Startup, #Technology, #Social Ventures</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:30px; color:#1ABB9C;">
                       <strong> Lucas</strong>
                      </p>
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard University  
                      </p>
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Chemical and Physical Biology Major
                      </p>
                      <p style="font-style:italic; font-size:13px;">#Technology, #Physics, #Healthcare, #Sports</p>
                      
                  </figure>
                </div><!-- /.col -->






              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->    
        </div><!-- /.container -->
      </section>








      
      <section id="ringle-class" class="light-bg">
        <div class="container inner-top-md">
          

          <div class="row">
            <div class="col-md-12 col-sm-9 ">


              <header>
               <h1>링글의 교재</h1>
               <h3 class="sidelines text-center"></h3>


                <h2>비즈니스 현장의 최신 화두를 담고있는 유일한 교재</h2>
                <p>"기술, 문화, 정치" 동부부터 서부까지 현재 미국에서 벌어지고 있는 일들을 망라한 링글의 교재로 최고의 튜터들과 대화 하세요. </p>

                <br>
              </header>
            </div>
          </div>




          <div class="row">
            <div class="col-md-12 col-sm-9 center-block text-center">


       

              <div id="accordion" class="panel-group">
                <div class="panel panel-default">       
                  
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">
                        <span>Ringle's Books</span>
                      </a>
                    </h4>
                  </div><!-- /.panel-heading -->
                  
                  <div id="content" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">

                    <%@cases.each do |book|%>
                    <div class="item">
                      <figure>
                          <div class="icon-overlay icn-link">
                            <a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;">
                              <img src="/thumbnail/thumbnail_<%=book[1]%>" alt="" style="height:120px;">
                            </a>
                          </div><!-- /.icon-overlay -->


                          
                          <figcaption class="bordered no-top-border">
                            <div class="info">
                              <h4><a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;"><%=book[0]%></a></h4>
                            </div><!-- /.info -->
                          </figcaption>    
                      </figure>
                    </div><!-- /.item -->
              
                    <%end%>

                        
                      </div><!-- /.owl-carousel -->
                    </div><!-- /.panel-body -->

                  </div><!-- /.content -->
          
                </div><!-- /.panel -->
              </div><!-- /.accordion -->
            </div><!-- /.col -->
          </div><!-- /.row -->
           <br><br><br><br>
        </div><!-- /.container -->
      </section>
      

      <!-- ============================================================= SECTION – CLIENTS ============================================================= -->
    
      <section id="clients">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>Ringle 고객 분들이 재직 중인 기관/회사</h1>
                  <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row thumbs gap-lg inner-top-sm">
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb" >
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Bain and Company</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_bnc_logo.png" alt="">
                  </figure>

                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Johns and Johns</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_jnj_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Google</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_google_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>LG</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_lg_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Kellog MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_kellog_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Samsung</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_samsung_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Stanford MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_gsb_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>EBAY</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_ebay_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Drama and Company</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_dmc_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Mckinsey</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_mckinsey_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Hyundai</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_hyundai_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Harvard MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/logo/ringle_harvard_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      



      <section id="ringle-program" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
               <h1>링글 고객 Reference</h1>
                <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-10">

          
            <h2>BCG 컨설턴트</h2>
            <p style="text-align: left; margin-bottom:20px; font-size:15px; line-height: 150%;">

           

            “다수 영어 회화 수업을 화상으로도, 전화 영어로도 들어본 경험이 있지만, 링글만은 명확한 차별점이 있습니다. 물론

            강사 quality 측면도 장점으로 꼽을 수 있겠지만, 저 개인적으로는 수업 교재 및 방식이 더 큰 링글만의 차별점이라

            생각합니다. 단순한 생활 영어나 정형화된 비즈니스 회화가 아니라, 실제 수업이 최근 미국에서 일어나고 있는

            trendy한 주제를 기반, 특정 산업군 내 명확한 장/단점이 있는 두 가지 대상을 다양한 각도에서 비교하고 저의 의견을

            제시하는 방식으로 이루어지거든요. 이로 인해 수강자는 단순히 영어로 '말'만 하는 것이 아니라 영어로 '생각하면서

            말할 수 있게' 됩니다. 따라서 수강자 입장에서는 최근 다양한 트렌드 대해서도 접하고 생각해 볼 수 있게 되고, 이를

            영어로 풀어 내야 하니 영어 실력 향상 목적에 부합함은 물론이지요. 따라서 저는 링글을 추천합니다!”
            </p>

            </div>
   
            <div class="col-md-1">
            </div>
          </div> <!--row -->


          <br>

          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-10">

          
            <h2>SKT 매니저</h2>
            <p style="text-align: left; margin-bottom:20px; font-size:15px; line-height: 150%;">

           
            "링글을 하면서 가장 좋았던 점은 내가 관심있는 분야의 이야기를 주제로 영어로 논의할 수 있었다는 점입니다. 개인

            적으로 이 점이 영어 학습에 매우 효과적이라고 생각하는 이유는 학생이 자발적으로 수업을 준비할 수 있는 계기를

            제공하며, 준비에 투입되는 노력이 늘어날수록 실력이 향상된다고 믿기 때문입니다. 직접 경험해보니 단순히 신변잡

            기의 이야기를 원어민과 나누는 것과 특정 주제로 토론을 하는 것은 또 다른 차원의 영어 수준을 요구합니다. 링글과

            함께하면서 이점을 깨닫게 되었고, 매 수업마다 점점 더 많은 사전 준비를 하도록 선순환이 이루어지며 영어 수준을

            한 단계 올릴 수 있는 기회를 링글은 제공합니다.”
            </p>

            </div>
   
            <div class="col-md-1">
            </div>
          </div> <!--row -->

          <br>

          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-10">

          
            <h2>Harvard MBA</h2>
            <p style="text-align: left; margin-bottom:20px; font-size:15px; line-height: 150%;">

           
            "링글은 기존과 완전히 다른 방식의 영어 학습 서비스입니다. 자신이 관심있는 주제를 선정하면, 그 주제에 대한 핵심

            표현뿐만 아니라 트렌드까지도 흥미롭게 알아갈 수 있어서 정말 좋았습니다. 수업 준비만으로도 리딩, 리스닝, 라이팅

            학습이 자연스럽게 이루어져서 균형있게 도움이 되었습니다. 미국 명문대 학생들에게 발음, 억양 뿐만 아니라 미국

            엘리트들의 최근 영어사용 패턴까지 확인할 수 있어, 확실히 한 차원 높은 퀄리티였습니다."

            </p>

            </div>
   
            <div class="col-md-1">
            </div>
          </div> <!--row -->





        </div><!-- /.container -->
      </section>




<!-- 이부분에 고객님들의 레퍼런스 -->





      <section id="selected-works" class="light-bg">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
               <h1>링글 Team</h1>
                <h3 class="sidelines text-center"></h3>
                <p> 최고의 수업을 제공하기 위해 한국과 미국에서 모였습니다.</p><br>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row">
            <div class="col-sm-12 portfolio">
              
             
              
              <ul class="items col-4">
                
                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>이승훈</h3>
                          <p>
                          수업자료 개발/수업 Quality 개선/<br>
                          고객 개척 & 커뮤니케이션 총괄<br>
                          현 Stanford GSB (MBA) <br>
                          전 BCG, Devsisters</p>

                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>이성파</h3>
                          <p>
                          기술개발/서비스 Quality 관리/<br>
                          Tutor 선발 육성 총괄<br>
                          현 Stanford GSB (MBA) <br>
                          전 Fairchild Semiconductor</p>

                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/admin/sungpah.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->


                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>송지연</h3>
                          <p>
                          고객 지원 총괄, 고객 개척 리드/<br>
                          전 소프트뱅크벤쳐스 코리아<br>
                          서울대 학사/Michigan 석사 <br>
                          </p>

                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>전민영</h3>
                          <p>
                          개발 리드<br>
                          현 서울대 컴퓨터 공학/시각디자인 전공<br>
                          </p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>심선욱</h3>
                          <p>
                          수업자료 개발 리드 <br>
                          현 Stanford MS <br>
                          Stanford 학부 졸업/용인외고 졸업<br>
                          </p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>박준성</h3>
                          <p>
                          Data Analysis <br>
                          서비스 개발 <br>
                          현 서울대 경영 전공 <br>
                          </p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>Jaimie Piotrowicz</h3>
                          <p>
                          Tutor 교육/육성 Associate<br>
                          현 미국 초등 교사/Ringle tutor <br>
                          전 UPenn 교육학 석사 <br>
                          </p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/admin/jaimie.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb photography">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h3>Danny Pohl</h3>
                          <p>
                          Tutor Recruiting Associate<br>
                          현 Harvard 학사 <br>
                          </p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/admin/danny.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

              </ul><!-- /.items -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>


      <!-- 링글의 폴리시 -->

      <section id="policy">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>링글 Pricing & Policy</h1>
                  <h3 class="sidelines text-center"></h3>
                  
                   
                  <strong>Ringle은 ‘고객의 실전적 영어회화 실력 향상’을 최우선 목표로 합니다.</strong><br><br>
                  Ringle은 ‘다양한 수준 높은 Native speaker와 자주 & 많이 영어로 대화 후 영어교정을 받는 것’이 영어회화 실력 향상을 위한 지름길이라 믿고 있습니다.<br>
                  이에, Ringle 규정은 ‘다양한 Native speaker와 자주 & 많이 영어를 사용하도록 동기부여 하는 것을 원칙’으로 제작되었습니다.<br><br>

                  자세한 가격정책, referral 및 환불 규정은 다음 링크에서 확인하실 수 있습니다.<br><br>
                  <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/Ringle_policy.pdf" class="btn btn-large icon-download"> 링글 정책 </a>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row thumbs gap-lg inner-top-sm">
                
                
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      

      <section id="ringle-contact" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
        <div class="container inner-top-md inner-bottom-sm">
          <div class="row">
            
            <div class="col-md-8 inner-right inner-bottom-xs">
              <header>
                <h2>Contact Info</h2>
                <p>첫 수업이신 경우,고객의 영어 고민을 듣고 첫 수업에 대한 궁금증을 풀어드리고자 수업에 앞서 상담을 드립니다. 상담 요청을 해주세요</p>


                <a href="#myModal" class="btn apply" data-option="0" data-toggle="modal" data-target="#myModal">체험 수업 신청</a>




              </header>
            </div><!-- /.col -->
            
            <div class="col-md-4">
              <h3 style="margin-top: 8px;">RINGLE</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i>서울시 강남구 역삼동 마루 180 </li>
                <li><i class="icon-mobile contact"></i> +82 (10) 6779 0334</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> contact@ringleplus.com</a></li>
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
            
          </div><!-- ./row -->
        </div><!-- /.container -->
      </section>




<%= render "/payments/classapplymodal"%> <!-- 나중에 이부분 체인지를 합시다~ -->

<script>
  $(".apply").click(function(){
    var option_value = $(this).data("option");
    $("#selectBox").val(option_value);
  
  });

</script>

  <script>
    $('.case_book').click(function(){
      var content = "<img src='/summary/summary_"  + $(this).data('image') + "' width='1000' height='550' alt=''/>";
      
      TINY.box.show(content,0,0,0,1)});

      <%if @confirm%>

          TINY.box.show("<p>링글 웹사이트 오픈을 앞두고 오류로 인해 고객님들께 확인 메일(Confirmation instructions)이 간 경우가 있었습니다. 잘못 보내진 메일이오니 고객님들께서는 신경쓰지 않으셔도 됩니다. 고객님들께 불편을 드려서 정말 죄송합니다.</p>",0,0,0,1);

      <%end%>

  </script>
