<link rel="stylesheet" href="/tinybox/tiny_style.css" />
<script type="text/javascript" src="/tinybox/tinybox.js"></script>
<style>

<%1.upto(2) do |item|%>
.item-<%=item%> {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;
  
  }
<%end%>

.tutors .item figure img {
  width:120px;
}

.tutors .item3 figure img {
  height:100px;
}

.tutors .item2 figure img {
  border-radius:200px;
  width:120px;
}


.animated .pull-left{
  margin-left: -15px;
}

.caption h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.caption p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

</style>
      <!-- ============================================================= SECTION – HERO ============================================================= -->

      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item item-1">
            <div class="container">
              <div class="caption vertical-center text-center ">
                
                <h1 class="fadeInLeft-1 light-color">1:1 English Tutoring</h1>
                <p class="fadeInLeft-2 light-color">미국 명문대 재학중인  튜터들과 1:1로 만나보세요</p>
                <div class="fadeInLeft-3">
                  <a href="/payments/pricing" class="btn btn-large">로그인</a>
                  <a href="/payments/pricing" class="btn btn-large">체험 수업 신청</a>
                  
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item item-2" >
            <div class="container">
              <div class="caption vertical-center text-center">
                
                <h1 class="fadeInDown-1 light-color">carefully selected topic</h1>
                <p class="fadeInDown-2 light-color">비즈니스 영어에 특화된 미국 현지 튜터들과 차별화된 주제로 대화해보세요.</p>
                <div class="fadeInDown-3">
                  <a href="/payments/pricing" class="btn btn-large">Get started now</a>
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
        </div><!-- /.owl-carousel -->
      </section>
      
      <section id="ringle-class">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-12 col-sm-9 center-block text-center">
              <header>
                <h2>1:1 영어회화의 혁신을 이루어낸 Ringle의 차별점</h2>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        
          <div class="row inner-top-sm">
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-graduation-cap icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            
            <div class="col-md-3 inner-bottom-xs">
              <h3>미국 Top School</h3>
              <p class="text-small">미국 명문대생들이 말하는 최신, 최고급 영어표현을 경험하세요.</p>
            </div><!-- /.col -->
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-chat-empty icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
              <h3>실전 비즈니스</h3>
              <p class="text-small">What's up Dude는 이제 그만. 저희 Team이 맞춤 제작한 교재로 비즈니스 영어에 집중하세요.</p>
            </div><!-- /.col -->

            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-laptop-1 icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

          
            <div class="col-md-3 inner-bottom-xs">
              <h3>생생한 화상 미팅</h3>
              <p class="text-small">강도 높은 Discussion 및 Correction이 40분 간의 화상미팅 으로 진행됩니다.</p>
            </div><!-- /.col -->
            
          
            
          </div><!-- /.row -->
        
        </div><!-- /.container -->
      </section>
      
      

      <!-- tutors -->
      <section id="tutors" class="light-bg">
        <div class="container inner-top-sm inner-bottom-sm">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>링글의 튜터</h1>
                <h3 class="sidelines text-center"></h3>

                <p style="font-size:15px">
                  전원 미국 탑 대학에 재학/졸업한 세계 최고의 튜터링 파트너</br>
                  글로벌 리더인 링글 고객님에게 최적화된 수업 제공</br>
                  세부 분야에 전공지식/경험 을 나눌 수 있는 당신을 위한 최고의 튜터
                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          


          <div class="row inner-top-sm">
            <div class = "col-sm-1">

                <img src="/assets/images/tag_school.png" style="height:120px;">
            
           </div>

            <div class="col-sm-11">  

              <div id="owl-clients" class="owl-carousel owl-outer-nav tutors">
  
                  <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Harvard College</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/harvard_logo.png">
                    </figure>
                  </div><!-- /.item -->



                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Yale University</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/yale_logo.png">
                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Stanford University</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/stanford_logo.png" >
                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>University of pennsylvania</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/school/upen_logo.png" >
                    </figure>
                </div><!-- /.item -->
              </div><!-- /.owl-carousel -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <br>          <br>


          <div class="row">
   <div class = "col-sm-1">

                <img src="/assets/images/tag_tutor.png" style="height:120px;">
            
           </div>



            <div class="col-sm-11">
              <header>

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:40px;">
                       <strong> Joey</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Economics Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Finance, #Consulting, #Energy, #Sports, #Music Talente</p>
                      
                  </figure>
                </div><!-- /.col -->

               
                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:40px;">
                       <strong> Annie</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Harvard  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Premed Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Biology, #Technology, #Journalism, Modern Dance Talented</p>
                      
                  </figure>
                </div><!-- /.col -->


                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:40px;">
                       <strong> Riley</strong> 
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Yale  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Politics Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Politics, #Government, #Social Enterprise, Sports</p>
                      
                  </figure>
                </div><!-- /.col -->

                <div class="col-sm-3 inner-bottom-sm">
                  <figure class="member">
                      <p style="text-align: center; margin-bottom:5px; font-size:40px;">
                       <strong> Bianca</strong>
                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px; font-weight: bold;"> Stanford  

                      </p>
                      
                      <p style="text-align: center; font-size:20px; margin-bottom:5px;">   
                      Literacture Major

                      </p>
                      
                      
                      <p style="font-style:italic; font-size:13px;">#Writing, #Culture, #Arts, Fashion, Music, Dance</p>
                      
                  </figure>
                </div><!-- /.col -->

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->    
        </div><!-- /.container -->
      </section>





      <section id="philosophy">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
                <header>
                <h1>링글의 철학</h1>
                <h3 class="sidelines text-center"></h3>


                <p> 링글은 고객님이 영어를 더 잘 할수 있는 환경을 만드는데 집념을 가지고 노력한다. </p>


                <p style="font-size:15px">
                  고객이 수업에만 몰입 할 수 있는 환경을 만든다.<br>
                  고객의 커뮤니케이션 스킬개선 만을 위해 노력한다.<br>
                  글로벌 리더들에게 맞는 맞춤형 서비스를 제공한다.<br>

                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        
      </section>



      
      <section id="ringle-class" class="light-bg">
        <div class="container inner-top-md">
          

          <div class="row">
            <div class="col-md-12 col-sm-9 ">


              <header>
               <h1>링글의 교재</h1>
               <h3 class="sidelines text-center"></h3>


                <h2>비즈니스 현장의 최신 화두를 담고있는 유일한 교재</h2>
                <p>"기술, 문화, 정치" 동부부터 서부까지 현재 미국에서 벌어지고 있는 일들을 망라한 링글의 교재로 최고의 튜터들과 대화 하세요. </p>

                <br>
              </header>
            </div>
          </div>




          <div class="row">
            <div class="col-md-12 col-sm-9 center-block text-center">


       

              <div id="accordion" class="panel-group">
                <div class="panel panel-default">       
                  
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">
                        <span>Ringle's Books</span>
                      </a>
                    </h4>
                  </div><!-- /.panel-heading -->
                  
                  <div id="content" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">

                    <%@cases.each do |book|%>
              
                    <div class="item">
                      <figure>
                          <div class="icon-overlay icn-link">
                            <a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;">
                              <img src="/thumbnail/thumbnail_<%=book[1]%>" alt="" style="height:120px;">
                            </a>
                          </div><!-- /.icon-overlay -->


                          
                          <figcaption class="bordered no-top-border">
                            <div class="info">
                              <h4><a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;"><%=book[0]%></a></h4>
                            </div><!-- /.info -->
                          </figcaption>    
                      </figure>
                    </div><!-- /.item -->
              
                    <%end%>

                        
                      </div><!-- /.owl-carousel -->
                    </div><!-- /.panel-body -->

                  </div><!-- /.content -->
          
                </div><!-- /.panel -->
              </div><!-- /.accordion -->
            </div><!-- /.col -->
          </div><!-- /.row -->
           <br><br><br><br>
        </div><!-- /.container -->
      </section>
      
    

      <section id="ringle-program">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
               <h1>링글의 1:1 프로그램</h1>
                <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->


          <div class="row">

            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
            <p style="text-align: center; margin-bottom:20px; font-size:40px;">
            <strong> 고급 영어 회화</strong></p>

            글로벌 비즈니스 리더들에게 맞는 세션<br>

          <p style="margin-left:40px">    
            <i class="icon-ok"></i>비즈니스 topic 세션<br>
            <i class="icon-ok"></i>비즈니스 speech 세션<br>
            <i class="icon-ok"></i>문화, 정치, 과학 세션<br>
          </p>
            </div>

            <div class="col-md-5">
      
            <p style="text-align: center; margin-bottom:20px; font-size:40px;">
            <strong>Under/Grad School Admission </strong></p>

            학부대학, 석사, MBA,  박사 진학을 위한 영어세션<br>

            <p style="margin-left:40px">    
              <i class="icon-ok"></i>Undergrad Mock Interview<br>
              <i class="icon-ok"></i>Undergrad Essay First Impression<br>
              <i class="icon-ok"></i>Resume Session ( MBA, Grad )<br>
              <i class="icon-ok"></i>Interview Mock Session ( MBA,  Career )<br>
            </p>
            </div>

              <div class="col-md-1">
              </div>



          </div>


        </div><!-- /.container -->
        
      </section>



     
        


      <section id="contact" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
        <div class="container inner-top-md inner-bottom-sm">
          <div class="row">
            
            <div class="col-md-8 inner-right inner-bottom-xs">
              <header>
                <h2>Contact Info</h2>
                <p>첫 수업이신 경우, 고객의 영어 고민을 듣고 첫 수업에 대한 궁금증을 풀어드리고자 수업에 앞서 5-10분 정도의 간단한 Hangout Preview Session을 진행하고 있습니다.</p>
              </header>
            </div><!-- /.col -->
            
            <div class="col-md-4">
              <h3 style="margin-top: 8px;">RINGLE</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i>서울시 광진구 구의3동 </li>
                <li><i class="icon-mobile contact"></i> +82 (10) 3011 0007</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> contact@ringleplus.com</a></li>
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
            
          </div><!-- ./row -->
        </div><!-- /.container -->
      </section>

      <%#
      <section id="ringle-pricing">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Ringle Pricing</h1>
                <p>링글 결제</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row pricing">
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>4회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">20</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">구매하기</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> 20 Pages</li>
                  <li><i class="icon-hdd"></i> 10 GB Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>8회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">40</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">Change to this plan</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> 100 Pages</li>
                  <li><i class="icon-hdd"></i> 100 GB Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>16회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">80</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">Change to this plan</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> Unlimited Pages</li>
                  <li><i class="icon-hdd"></i> Unlimited Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
    %>
  <script>
    $('.case_book').click(function(){
      var content = "<img src='/summary/summary_"  + $(this).data('image') + "' width='1000' height='500' alt=''/>";
      
      TINY.box.show(content,0,0,0,1)});

      <%if @confirm%>

          TINY.box.show("<p>링글 웹사이트 오픈을 앞두고 오류로 인해 고객님들께 확인 메일(Confirmation instructions)이 간 경우가 있었습니다. 잘못 보내진 메일이오니 고객님들께서는 신경쓰지 않으셔도 됩니다. 고객님들께 불편을 드려서 정말 죄송합니다.</p>",0,0,0,1);

      <%end%>

  </script>
