<link rel="stylesheet" href="/tinybox/tiny_style.css" />
<script type="text/javascript" src="/tinybox/tinybox.js"></script>
<style>

<%1.upto(2) do |item|%>
.item-<%=item%> {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;
  
  }
<%end%>

.tutors .item figure img {
  width:100px;
    height:100px;

}

.tutors .item3 figure img {
  height:100px;
}

.tutors .item2 figure img {
  border-radius:200px;
  width:120px;
}


.animated .pull-left{
  margin-left: -15px;
}

.caption h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.caption p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

</style>

    <header>
      <div class="navbar">    
        <%if @main%>
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i>contact@ringleplus.com</a></li>
              <li><i class="icon-mobile contact"></i>010-6779-0334</li>
            </ul><!-- /.info -->
            
            <ul class="social pull-right">
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-gplus"></i></a></li>
            </ul><!-- /.social -->
            
            <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
          </div><!-- /.container -->
        </div><!-- /.navbar-header -->
        <div class="yamm">
          <div class="navbar-collapse collapse">
            <div class="container">
              
              <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
     
              <ul class="nav navbar-nav">
                
                <li class="page-scroll">
                  <a href="#ringle-intro">About Ringle</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-ref">Reference</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-clients">Clients</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-apply">Apply</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-clip">Clips</a>
                </li>
              </ul><!-- /.nav -->
              
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
        <%end%>
      </div><!-- /.navbar -->
    </header>
    <main>


      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item item-1">
            <div class="container">
              <div class="caption vertical-center text-center ">
                
                <h1 class="fadeInLeft-1 light-color">Ringle 1:1 English Tutoring</h1>
                <p class="fadeInLeft-2 light-color"></p>
                

                <div class="fadeInLeft-3">
                  <a href="/" class="btn btn-large">Sign In</a>
                  <a href="#myModal" class="btn apply btn-large btn-red" data-option="0" data-toggle="modal" data-target="#myModal">Apply as a tutor</a>
                  
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item item-2" >
            <div class="container">
              <div class="caption vertical-center text-center">
                
                <h1 class="fadeInDown-1 light-color">Ringle 1:1 English Tutoring</h1>
                <p class="fadeInDown-2 light-color"></p>
                <div class="fadeInDown-3">
                  
                  <a href="/" class="btn btn-large">Sign In</a>
                  <a href="#myModal" class="btn apply btn-large btn-red" data-option="0" data-toggle="modal" data-target="#myModal">Apply as a tutor</a>



                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
        </div><!-- /.owl-carousel -->
      </section>
      

      <section id="ringle-intro">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
                <header>
                <h1>Top Quality 1:1 English Tutoring</h1>
                <h3 class="sidelines text-center"></h3>


              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="row inner-top-sm">
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-graduation-cap icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            
            <div class="col-md-3 inner-bottom-xs">
              <h1>Lucrative</h1>
              <h2>$19 -25 /HR</h2>
              <p class="text-small">Ringle highly values your time.</p>
            </div><!-- /.col -->
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-chat-empty icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
              <h1>Flexible</h1>
              <h2>Weekly Schedule</h2>
              <p class="text-small">You can set your own schedule on a weekly basis</p>
            </div><!-- /.col -->

            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-laptop-1 icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

          
            <div class="col-md-3 inner-bottom-xs">
              <h1>Networking</h1>
              <h2>Get to know</h2>
              <p class="text-small">You can meet international managers, CEO, students. </p>
            </div><!-- /.col -->
            
          


            
          </div><!-- /.row -->

        </div><!-- /.container -->
        
      </section>



        <section id="ringle-about" class="img-bg img-bg-soft tint-bg" style="background-image: url(/assets/images/art/image-background04.jpg);">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
               <h1>About Ringle</h1>
                <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-1">     
            </div>
            <div class="col-md-10">
         
            Two Stanford MBA students started Ringle in January 2015 in an attempt to create jobs for undergraduate and graduate students across America and, ultimately, effectively teach people in other countries to become conversational in English. <br><br>

            Since Ringle’s inception, more than 50 students from elite universities, stretching from the East coast to the West coast, have joined our team. We have built a comfortable and meaningful platform where people can realize their weaknesses and work to improve them. <br><br>

            We are constantly striving to effectively and efficiently cross cultural, geographical, and educational barriers in order to provide the best learning environment for teachers and students alike.

            Welcome to Ringle.

            </div>

              <div class="col-md-1">
              </div>
          </div> <!--row -->
          






        </div><!-- /.container -->
      </section>


      <div id="ringle-ref">

      <section id="sliders">
        <div class="container inner">
          
          <div class="row">

            <div class="col-md-12 col-sm-9">
                <header>
                <h1>Our partner's reference</h1>
                <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row">
            <div class="col-sm-12 inner-top-md">
              <div id="owl-featured-works" class="owl-carousel owl-outer-nav owl-ui-lg">
                
                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Joey [ Economics ] </h2>
                        
                      "Being able to help Korean business professionals reach their next level of English is very rewarding! Their eagerness to learn the language is a great starting point to connect and discuss today's relevant issues while also explaining the intricacies and rules of the English language."
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/harvard_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->

                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Danny [ pre-med ] </h2>
                        
                      "Ringle affords me the opportunity to put my English skills, which I often take for granted, to good use by teaching others how to communicate effectively. A very flexible and supportive service, Ringle is a great way to earn some extra money and to bolster your resume."
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/harvard_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->


                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Bianca [ Literacture ] </h2>
                        
                      "Ringle compensates me for conversing with international business professionals about technological developments. I look forward to continuing tutoring with Ringle!"
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/stanford_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->


                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Lucas [ Chemical and Physical Biology ] </h2>
                        
                      "Ringle is an excellent program that allows you to connect with business executives from across the world in a professional but very relaxed setting. With Ringle, not only do you develop your communication skills but you also learn from the interactions you have with a very diverse group of students. The classes are fun, the schedule is very flexible and the compensation is amazing. I am so glad I joined Ringle!"
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/harvard_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->


                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Annie [ Pre-med ] </h2>
                        
                      "Some of the most eye-opening conversations I’ve ever had, regarding cutting-edge technology or current events, have occurred through my interactions on Ringle. Being a part of Ringle is a win-win situation for everyone. As a tutor, I’ve been able to network with business professionals while helping them enhance their English skills. As a bonus, the compensation is wonderful! I wouldn't trade the experience for the world, and I am so thankful to be a part of Ringle."
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/harvard_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->
               
                <div class="item">
                  <figure>
                    
                    <div class="col-md-10">
                      <h2> Wyatt [ English Literacture ] </h2>
                        
                      "Ringle is an exceptional online service. I look forward to my sessions because I get the opportunity to meet people from a different culture. The website is simple, easy to use, and clever. I'd recommend Ringle to anyone."
                     
                      </div>
                    <div class="col-md-2">
                      <img src="/assets/images/school/stanford_logo.png">
                    </div>

                  </figure>
                </div><!-- /.item -->
              
              </div><!-- /.owl-carousel -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          
       
          
        </div><!-- /.container -->
      </section>
      </div>  
    
      <section id="ringle-clients">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>Client's Company/Institution</h1>
                  <h3 class="sidelines text-center"></h3>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row thumbs gap-lg inner-top-sm">
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb" >
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Bain and Company</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_bnc_logo.png" alt="">
                  </figure>

                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Johns and Johns</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_jnj_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Google</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_google_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>LG</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_lg_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Kellog MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_kellog_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Samsung</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_samsung_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Stanford MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_gsb_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>EBAY</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_ebay_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Drama and Company</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_dmc_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Mckinsey</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_mckinsey_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Hyundai</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_hyundai_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
                <div class="col-md-2 col-sm-4 col-xs-6 thumb">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Harvard MBA</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/logo/ringle_harvard_logo.png" alt="">
                  </figure>
                </div><!-- /.col -->
                
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      

<!-- 이 파트를 how to apply로 둬야 하나? -->





      
      <section id="ringle-apply">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>How to be Ringle's tutoring partner?</h1>
                
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm">
            <div class="col-xs-12">
              <div class="tabs tabs-reasons tabs-circle-top tab-container">
                
                <ul class="etabs text-center">
                  <li class="tab"><a href="#tab-1"><div>1</div>Know about Ringle</a></li>
                  <li class="tab"><a href="#tab-2"><div>2</div>Schedule a mock session</a></li>
                  <li class="tab"><a href="#tab-3"><div>3</div>Mock Session</a></li>
                </ul><!-- /.etabs -->
                
                <div class="panel-container">
                  
                  <div class="tab-content" id="tab-1">
                    <div class="row">              
                      <div class="col-md-6">
                        <h2>Ringle Class Guideline</h2>
                      
                        For a stable work environment, Ringle has set a basic policy.<br><br>

                        1. You have to join a class in a timely manner. ( By :57)<br>
                        2. Class time is 40min + 20min ( Preparation + Feedback Report )<br>
                        3. Your up/download internet speed should be faster than 2.6mbps.<br>
                        4. You have to setup a clean/stable/quite environment.<br><br>

                        <p>Before the mock session, get prepared by reading our manual and policies.</p>
                        <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/customer_service/%5BRingle%5DTutor_manual_V6+(1).pdf" class="btn btn-large icon-download"> Manual </a>
                      </div><!-- /.col -->

                      <div class="col-md-6">
                        <h2>Incentive Program</h2>
                      
                        Ringle has a rating system for our tutoring partners.<br><br>

                        1. Depending on the class performance, the student will evaluate your class.<br>
                        2. You will accumulate points from classes.<br>
                        3. You will be promoted depending on points.<br>
                        <p style="color:#337ab7;">4. When you refer your friends, you will get compenated.</p><br>
                        <p>For more information, please refer to this file</p>
                        <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/customer_service/%5BRingle%5DIncentive_Strike_v5+(2).pdf" class="btn btn-large icon-download"> Incentive</a>
                      </div><!-- /.col -->

                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-2">
                    <div class="row">
                      
                      <div class="col-md-12">
                        <h3>Interview Setup</h3>
                        <p>Visit the link and schedule an interview with us. After you choose your availability, Ringle will contact you within 12 hrs with a Ringle Invitation. To see the link, you have to sign up.</p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-3">
                    <div class="row">
                      
                      <div class="col-md-12">
                        <h3>Mock Session</h3>
                        <p>The Ringle team will conduct the mock session with you. You will demonstrate your skills on one of the cases below. Please choose your favorite so you can best showcase your abilities.</p>

                        <div class="row">
                          <div class="col-md-12 col-sm-9 center-block text-center">
                            <div id="accordion" class="panel-group">
                              <div class="panel panel-default">       
                                
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">
                                      <span>Ringle's Books</span>
                                    </a>
                                  </h4>
                                </div><!-- /.panel-heading -->
                                
                                <div id="content" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    <div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">

                                  <%@cases.each do |book|%>
                                  <div class="item">
                                    <figure>
                                        <div class="icon-overlay icn-link">
                                          <a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;">
                                            <img src="/thumbnail/thumbnail_<%=book[1]%>" alt="" style="height:120px;">
                                          </a>
                                        </div><!-- /.icon-overlay -->


                                        
                                        <figcaption class="bordered no-top-border">
                                          <div class="info">
                                            <h4><a  class="case_book" data-image="<%=book[1][0..-5]%>.png" href="javascript:;"><%=book[0]%></a></h4>
                                          </div><!-- /.info -->
                                        </figcaption>    
                                    </figure>
                                  </div><!-- /.item -->
                            
                                  <%end%>

                                      
                                    </div><!-- /.owl-carousel -->
                                  </div><!-- /.panel-body -->

                                </div><!-- /.content -->
                        
                              </div><!-- /.panel -->
                            </div><!-- /.accordion -->
                          </div><!-- /.col -->
                        </div><!-- /.row -->








                      </div><!-- /.col -->
                      
                      
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  
                 
              </div><!-- /.tabs -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      
      <section id="ringle-clip" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>Reference Clips</h1>                
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm">
            <div class="col-xs-12">
              <div class="tabs tabs-reasons tabs-circle-top tab-container">
                
                <ul class="etabs text-center">
                  <li class="tab"><a href="#tab-1"><div>1</div>Debate Class</a></li>
                  <li class="tab"><a href="#tab-2"><div>2</div>Correction Class</a></li>
                  <li class="tab"><a href="#tab-3"><div>3</div>Ice Breaker</a></li>
                  <li class="tab"><a href="#tab-4"><div>3</div>Wrap Up</a></li>

                </ul><!-- /.etabs -->
                
                <div class="panel-container">
                  <div class="tab-content" id="tab-1">
                    <div class="row">    
                      <div class="col-md-2">
                      </div>          
                      <div class="col-md-8">
                        <h2>Debate Class Guideline</h2>
                     
                        1.  Back and forth talking is an important aspect of “Debate Class” <br>
                        2.  You will give English corrections after each question/answer. <br>
                        3.  You should share your thought. <br>
                        ( roughly 7-8 sentences of your opinion in each question ) <br><br>


                        <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vW8UjqnfJck?rel=0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div><!-- /.col -->
                      <div class="col-md-2">
                      </div>          
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->

                  <div class="tab-content" id="tab-2">
                    <div class="row">    
                      <div class="col-md-2">
                      </div>          
                      <div class="col-md-8">
                        <h2>Correction Class Guideline</h2>
                        Check out the timing for English correction.<br><br>

                        1.  You will give English corrections whenever the student makes a mistake.<br>
                        2.  You will wait until he/she finishes the sentence including a mistake.<br>
                        3.  You can raise your hand to signal the student.<br>
                        4.  Don’t forget to share your thought.<br><br>

                        <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/5QM3ZWBD3TI?rel=0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div><!-- /.col -->
                      <div class="col-md-2">
                      </div>          
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->

                  <div class="tab-content" id="tab-3">
                    <div class="row">    
                      <div class="col-md-2">
                      </div>          
                      <div class="col-md-8">
                        <h2>Icebreaker Guideline</h2>
                        The first 3-4 min is for you and the student to get to know each other<br><br>
  

                        1.  Don't forget to tell your name. <br>
                        2.  Don't forget to share who you are.<br>
                        3.  Please ask relavant questions related with the student and case material.<br><br>


                        <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TIUchTNurOI?rel=0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div><!-- /.col -->
                      <div class="col-md-2">
                      </div>          
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->

                  <div class="tab-content" id="tab-4">
                    <div class="row">    
                      <div class="col-md-2">
                      </div>          
                      <div class="col-md-8">
                        <h2>Wrap-up Guideline</h2>
                        Put the finale mark <br><br>

                        1.  Don't hurriedly wrap up the session.<br>
                        2.  Don't make the student think you want to wrap up the session.<br>
                        ( Bad Example: "time is up, and the class time is 40min, so good bye")<br>
                        3.  For a good example, please refer to the short video.<br><br>

                        <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fdFDO673gtM?rel=0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div><!-- /.col -->
                      <div class="col-md-2">
                      </div>          
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
              </div><!-- /.tabs -->
            </div><!-- /.col -->
          </div><!-- /.row -->          
        </div><!-- /.container -->
      </section>

      <section id="policy">
        <div class="container inner">
          <div class="row">
            <div class="col-md-12 col-sm-9">
              <header>
                <h1>Ringle Policy</h1>
                  <h3 class="sidelines text-center"></h3>
                  
                   
                  <strong>Ringle only provides the highest quality service to the clients</strong><br><br>
                  
                  Ringle strongly highlights <br><br>

                  <p style="margin-left:40px">    
                    <i class="icon-ok"></i>Punctuality<br>
                    <i class="icon-ok"></i>High speed internet status<br>
                    <i class="icon-ok"></i>Interactive class<br>
                    <i class="icon-ok"></i>Being Professional<br>
                  </p>

                  Any behaviors against Ringle's value will be discouraged. For more information, please refer to 
                  <br>

                  <a href="https://s3-us-west-2.amazonaws.com/ringleplus2015/customer_service/%5BRingle%5DIncentive_Strike_v5+(2).pdf" class="btn btn-large icon-download"> Ringle Policy</a>

              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row thumbs gap-lg inner-top-sm">
                
                
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      

      <section id="ringle-contact" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
        <div class="container inner-top-md inner-bottom-sm">
          <div class="row">
            
            <div class="col-md-8 inner-right inner-bottom-xs">
              <header>
                <h2>Contact Info</h2>
                <p>If you want to know about Ringle, please contact us</p>


                <a href="#myModal" class="btn apply" data-option="0" data-toggle="modal" data-target="#myModal">Ask Question</a>
              </header>
            </div><!-- /.col -->
            
            <div class="col-md-4">
              <h3 style="margin-top: 8px;">RINGLE</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i>Seoul, Korea, Yeoksam gu Maru 180</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> sungpah@stanford.edu</a></li>
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
            
          </div><!-- ./row -->
        </div><!-- /.container -->
      </section>


<%= render "/payments/tutorapplymodal"%> <!-- 나중에 이부분 체인지를 합시다~ -->

<script>
  $(".apply").click(function(){
    var option_value = $(this).data("option");
    $("#selectBox").val(option_value);
  
  });

</script>

<script>
  $('.case_book').click(function(){
    var content = "<img src='/summary/summary_"  + $(this).data('image') + "' width='1000' height='550' alt=''/>";
    
    TINY.box.show(content,0,0,0,1)});

    <%if @confirm%>

        TINY.box.show("<p>링글 웹사이트 오픈을 앞두고 오류로 인해 고객님들께 확인 메일(Confirmation instructions)이 간 경우가 있었습니다. 잘못 보내진 메일이오니 고객님들께서는 신경쓰지 않으셔도 됩니다. 고객님들께 불편을 드려서 정말 죄송합니다.</p>",0,0,0,1);

    <%end%>

</script>
